<div
  class="header box-shadow d-flex align-center space-between full-width"
>
  <div class="d-flex align-center justify-center">
    <div class="mx-20">
      <div class="cursor-pointer" (click)="toggleSideBar()">
        <icon text="light">menu</icon>
      </div>
    </div>
    <div class="ml-10">{{ module() }}</div>
  </div>
  <div class="d-flex align-center">
    <lang-switcher></lang-switcher>
    <div class="d-flex align-center justify-center mx-20">
      <div
        color="light"
        text="primary"
        (click)="toggleProfile()"
        class="d-flex align-center cursor-pointer mt-2 justify-center avatar position-relative"
        hidden
      >
        <ng-container
          class="account"
          *ngIf="!user.avatar || user.avatar.url; else avatar"
        >
          <img
            class="image"
            *ngIf="user.avatar"
            [src]="user.avatar.url"
            [alt]="user.avatar.name"
          />
        </ng-container>

        <ng-template #avatar>
          <span>{{
            user.name && user.name.split("").splice(0, 2).join("").toUpperCase()
          }}</span>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<div
  fixed
  color="light"
  text="primary"
  class="profile br-3 box-shadow"
  *ngIf="showProfile"
>
  <div class="d-flex pa-10 align-center">
    <div
      color="primary-light"
      text="primary"
      (click)="toggleProfile()"
      class="d-flex align-center border-2 border-primary mt-2 justify-center avatar position-relative"
      hidden
      *ngIf="user.avatar && user.avatar.url; else noImage"
    >
      <img class="image" [src]="user.avatar.url" [alt]="user.avatar.name" />
    </div>
    <ng-template #noImage>
      <div
        color="primary-light"
        text="primary"
        (click)="toggleProfile()"
        class="d-flex align-center border-2 border-primary pa-5 mt-2 justify-center avatar position-relative"
        hidden
      >
        <div class="text-bold">
          <span>{{
            user.name && user.name.split("").splice(0, 2).join("").toUpperCase()
          }}</span>
        </div>
      </div>
    </ng-template>

    <div class="ml-10">
      <div class="text-bold">{{ user.name }}</div>
      <div>{{ user.gmail }}</div>
    </div>
  </div>
  <div
    class="d-flex cursor-pointer align-center pa-10 hover"
    routerLink="profile"
  >
    <div>
      <icon>account_circle</icon>
    </div>
    <div class="ml-10">
      <span translate="profile"></span>
    </div>
  </div>

  <div
    class="d-flex cursor-pointer align-center pa-10 hover logout"
    (click)="logout()"
  >
    <div class=".dotted">
      <icon>logout</icon>
    </div>
    <div class="ml-10">
      <span translate="logout"></span>
    </div>
  </div>
</div>
