<div class="title">Forgot password</div>
<div class="example-container">
  <div class="form-container" style="min-width: 300px">
    <form [formGroup]="form" class="mt-10">
      <form-input
        [type]="'email'"
        [control]="form.controls.email"
        [label]="'Email'"
        (keyup.enter)="submit($event)"
      ></form-input>
    </form>
    <button class="btn" routerLink="/auth" style="margin-left: 10px">
      Go to login
    </button>
    <button
      class="btn"
      light
      type="submit"
      theme="primary"
      (click)="submit($event)"
    >
      reset password
    </button>
  </div>
</div>
