<div class="title">Forgot password</div>
<div class="example-container">
  <div class="form-container" style="min-width: 300px">
    <form [formGroup]="form" class="mt-10">
      <mat-form-field appearance="outline" class="full-width mx-5">
        <mat-label translate="roles.fields.email"> email</mat-label>
        <input
          (keyup.enter)="submit($event)"
          matInput
          placeholder="Placeholder"
          [formControl]="form.controls.email"
        />
        <mat-error *ngIf="getErrorMessage('email')">
          {{ getErrorMessage("email") }}
        </mat-error>
      </mat-form-field>
    </form>
    <div class="ml-10 mb-10 text-right">
      <a  routerLink="/auth"> Go to login </a>
    </div>

    <button
      mat-raised-button
      class="full-width"
      light
      type="submit"
      color="primary"
      (click)="submit($event)"
    >
      Reset password
    </button>
  </div>
</div>
