<app-data-table
  [items]="items"
  [headers]="headers"
  [columnsToDisplay]="columnsToDisplay"
  [loading]="loading"
  [showFilters]="showFilters"
  [params]="params"
  [module]="module"
  (confirm)="openConfirm($event)"
  (page)="changePage($event)"
  (sort)="sortData($event)"
  (update)="loadData()"
  (filter)="toggleFilters()"
  (resetParams)="resetFilter()"
>
  <form [formGroup]="filter">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="4">
        <mat-form-field appearance="outline" class="full-width mx-5">
          <mat-label [translate]="'goods.fields.name_ro'"> name_ro </mat-label>
          <input
                  (keyup.enter)="loadData()"
            matInput
            placeholder="Placeholder"
            [formControl]="filter.controls.name_ro"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <mat-form-field appearance="outline" class="full-width mx-5">
          <mat-label [translate]="'goods.fields.name_en'"> name_en </mat-label>
          <input
                  (keyup.enter)="loadData()"
            matInput
            placeholder="Placeholder"
            [formControl]="filter.controls.name_en"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <mat-form-field appearance="outline" class="full-width mx-5">
          <mat-label [translate]="'goods.fields.name_ru'"> name_ru </mat-label>
          <input
                  (keyup.enter)="loadData()"
            matInput
            placeholder="Placeholder"
            [formControl]="filter.controls.name_ru"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <mat-form-field appearance="outline" class="full-width mx-5">
          <mat-label [translate]="'goods.fields.price'"> price </mat-label>
          <input
                  (keyup.enter)="loadData()"
            matInput
            placeholder="Placeholder"
            [formControl]="filter.controls.price"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <mat-form-field appearance="outline" class="full-width mx-5">
          <mat-label [translate]="'goods.fields.discount'"> discount </mat-label>
          <input
                  (keyup.enter)="loadData()"
            matInput
            placeholder="Placeholder"
            [formControl]="filter.controls.discount"
          />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</app-data-table>
