.example-container {
  text-align: center;
}

.form-container {
  @media (min-width: 500px) {
    min-width: 400px;
  }
  width: 100%;
}

.form-field {
  display: block;
}

.btn__submit {
  min-width: 200px;
}
