<div class="input-block my-5" *ngIf="control">
  <div
    class="form__input"
    [class.required]="
      control.errors && control.errors.required && control.touched
    "
  >
    <small *ngIf="control.value" class="form__input--label" text="text">{{ label }}*</small>
    <div class="d-flex full-width align-center">
      <div [class]="icon" style="font-size: 16px"></div>
      <input
        [class.wrong]="control.errors && !control.value && control.touched"
        [placeholder]="label"
        [type]="type"
        [formControl]="control"
      />
    </div>
  </div>
  <div class="form__error text-left">
    <small
      class="form__error--text"
      [class.display-error]="showErrors() || error"
    >
    {{error |json}}
      <span> {{ helpers.getErrors(error, control) }} </span>
    </small>
  </div>
</div>
