<app-data-table
  [module]="module"
  [items]="items"
  [headers]="headers"
  [columnsToDisplay]="columnsToDisplay"
  [loading]="loading"
  [showFilters]="showFilters"
  [params]="params"
  (confirm)="openConfirm($event)"
  (page)="changePage($event)"
  (sort)="sortData($event)"
  (update)="loadData()"
  (filter)="toggleFilters()"
  (resetParams)="resetFilter()"
>
  <form [formGroup]="filter">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="4">
        <mat-form-field appearance="outline" class="full-width mx-5">
          <mat-label translate="roles.fields.name"> name</mat-label>
          <input
            matInput
            placeholder="Placeholder"
            [formControl]="filter.controls.name"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <mat-form-field appearance="outline" class="full-width mx-5">
          <mat-label translate="roles.fields.alias"> alias</mat-label>
          <input
            matInput
            placeholder="Placeholder"
            [formControl]="filter.controls.alias"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <mat-form-field appearance="outline" class="full-width mx-5">
          <mat-label translate="Guard"> guard</mat-label>
          <input
            matInput
            placeholder="Placeholder"
            [formControl]="filter.controls.guard"
          />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</app-data-table>
