<div class="container">
  <mat-card style="max-width: 900px">
    <mat-card-title class="pa-5">{{
      $t("goods.headers.create")
    }}</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" class="form">
        <form-input
          cols="12"
          (keyup.enter)="submit()"
          class="form__item"
          [label]="$t('goods.fields.name_ro')"
          [control]="form.controls.name_ro"
          [error]="errors.name_ro"
        ></form-input>
        <form-input
          cols="12"
          (keyup.enter)="submit()"
          class="form__item"
          [label]="$t('goods.fields.name_en')"
          [control]="form.controls.name_en"
          [error]="errors.name_en"
        ></form-input>
        <form-input
          cols="12"
          (keyup.enter)="submit()"
          class="form__item"
          [label]="$t('goods.fields.name_ru')"
          [control]="form.controls.name_ru"
          [error]="errors.name_ru"
        ></form-input>
        <form-input
          cols="4"
          (keyup.enter)="submit()"
          class="form__item"
          type="number"
          [label]="$t('goods.fields.price')"
          [control]="form.controls.price"
          [error]="errors.price"
        ></form-input>
        <form-input
          cols="4"
          (keyup.enter)="submit()"
          class="form__item"
          [label]="$t('goods.fields.discount')"
          [control]="form.controls.discount"
          [error]="errors.discount"
        ></form-input>
        <app-file-uploader
          (keyup.enter)="submit()"
          cols="4"
          class="form__item"
          [label]="$t('goods.fields.image')"
          [control]="form.controls.image"
          [error]="errors.image"
        ></app-file-uploader>
        <form-input
          cols="4"
          (keyup.enter)="submit()"
          class="form__item"
          type="number"
          [label]="$t('goods.fields.height')"
          [control]="form.controls.height"
          [error]="errors.height"
        ></form-input>
        <form-input
          cols="4"
          (keyup.enter)="submit()"
          class="form__item"
          type="number"
          [label]="$t('goods.fields.width')"
          [control]="form.controls.width"
          [error]="errors.width"
        ></form-input>
        <form-input
          cols="4"
          (keyup.enter)="submit()"
          class="form__item"
          type="number"
          [label]="$t('goods.fields.length')"
          [control]="form.controls.length"
          [error]="errors.length"
        ></form-input>
        <form-input
          cols="12"
          (keyup.enter)="submit()"
          class="form__item"
          [label]="$t('goods.fields.description_ro')"
          [control]="form.controls.description_ro"
          [error]="errors.description_ro"
        ></form-input>
        <form-input
          cols="12"
          (keyup.enter)="submit()"
          class="form__item"
          [label]="$t('goods.fields.description_en')"
          [control]="form.controls.description_en"
          [error]="errors.description_en"
        ></form-input>
        <form-input
          cols="12"
          (keyup.enter)="submit()"
          class="form__item"
          [label]="$t('goods.fields.description_ru')"
          [control]="form.controls.description_ru"
          [error]="errors.description_ru"
        ></form-input>
        <form-select
          cols="12"
          [items]="categories"
          class="form__item"
          [label]="$t('goods.fields.categoryId')"
          [control]="form.controls.categoryId"
          [error]="errors.categoryId"
        ></form-select>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="d-flex align-center justify-end full-width">
        <button
          mat-button
          routerLink="../"
          [translate]="'global_buttons.cancel'"
          text="text"
        >
          cancel
        </button>
        <button
          mat-raised-button
          [disabled]="loading"
          color="primary"
          (click)="submit()"
          [translate]="'global_buttons.save'"
        >
          submit
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
