<div class="container">
  <div class="card">
    <div class="card__header">
      <div
        class="card__header--title ml-10"
        text="text"
        translate="roles.headers.edit"
      >
        Edit
      </div>
    </div>
    <div class="card__content mt-10">
      <form [formGroup]="form" class="form">
        <form-input
          cols="6"
          (keyup.enter)="submit()"
          class="form__item"
          [label]="t('users.fields.name')"
          [control]="form.controls.name"
          [error]="errors.name"
        ></form-input>
        <app-file-uploader
          (keyup.enter)="submit()"
          cols="6"
          class="form__item"
          [label]="t('users.fields.avatar')"
          [control]="form.controls.avatar"
          [error]="errors.avatar"
        ></app-file-uploader>
        <form-select
          [label]="t('users.fields.role')"
          cols="6"
          [items]="roles"
          [control]="form.controls.roleId"
          [error]="errors.roleId"
        ></form-select>
        <form-input
          (keyup.enter)="submit()"
          cols="6"
          class="form__item"
          [label]="t('users.fields.email')"
          [control]="form.controls.email"
          [error]="errors.email"
        ></form-input> 
      </form>
    </div>
    <div class="card__footer">
      <div>
        <button
          class="card__footer--btn card__footer--cancel"
          routerLink="../../"
          translate="global_buttons.cancel"
          text="text"
        >
          cancel
        </button>
        <button
          class="card__footer--btn card__footer--submit"
          (click)="submit()"
          translate="global_buttons.save"
        >
          submit
        </button>
      </div>
    </div>
  </div>
</div>
