<div
  class="fill-height theme elevation-1 transition-all"
  color="light"
  style="width: 0"
  fixed
  [class.expanded]="showTheme"
>
  <div class="theme__items pa-15 pt-30">
    <div class="title">Theme</div>
    <div class="d-flex align-center justify-center" size="24">
      <div
        class="color color__dark elevation-1 ma-10"
        (click)="setTheme('dark')"
      ></div>
      <div
        class="color color__light elevation-1 ma-10"
        (click)="setTheme('light')"
      ></div>
    </div>
    <div class="title">Primary color</div>
    <div class="d-flex align-center justify-center" size="24">
      <div
        *ngFor="let color of primaryColors"
        [style.backgroundColor]="color"
        class="color elevation-1 ma-10"
        (click)="setPrimaryColor(color)"
      ></div>
    </div>
  </div>
  <div
    class="theme__button absolute pa-10"
    color="light"
    (click)="toggleTheme()"
  >
    <icon class="cursor-pointer" [class.animate]="showTheme">settings</icon>
  </div>
</div>
