.theme {
  top: 60px;
  right: 0;
  background-color: var(--body);

  &__button {
    top: 192px;
    background-color: var(--body);
    color: var(--text);
    left: -44px;
    box-shadow: -4px 3px 8px 0px rgb(0 0 0 / 50%) !important;
  }
}

.expanded {
  width: 250px !important;
}

.color {
  width: 24px;
  height: 24px;
  border-radius: 50%;

  &__dark {
    background-color: #343333;
  }
  &__light {
    background-color: #fff;
  }
}

.title {
  font-size: 18px;
  color: var(--text);
}

.animate {
  animation: spin 3s infinite linear;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
