<div style="padding: 40px 100px 40px">
  <mat-card>
    <mat-card-title>Create</mat-card-title>
    <mat-card-content class="mt-20">
      <form [formGroup]="form">
        <mat-grid-list cols="12" rowHeight="100px">
          <mat-grid-tile colspan="4">
            <mat-form-field appearance="outline" class="full-width mx-5">
              <mat-label translate="roles.fields.name"> name</mat-label>
              <input
                matInput
                placeholder="Placeholder"
                [formControl]="form.controls.name"
              />
              <mat-error *ngIf="getErrorMessage('name')">
                {{ getErrorMessage("name") }}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="4">
            <mat-form-field appearance="outline" class="full-width mx-5">
              <mat-label translate="roles.fields.alias"> alias</mat-label>
              <input
                matInput
                placeholder="Placeholder"
                [formControl]="form.controls.alias"
              />
              <mat-error *ngIf="getErrorMessage('alias')">
                {{ getErrorMessage("alias") | json }}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="4">
            <mat-form-field appearance="outline" class="full-width mx-5">
              <mat-label translate="Guard"> guard</mat-label>
              <input
                matInput
                placeholder="Placeholder"
                [formControl]="form.controls.guard"
              />
              <mat-error *ngIf="getErrorMessage('guard')">
                {{ getErrorMessage("guard") | json }}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="d-flex align-center justify-end full-width pb-20">
        <button mat-button routerLink="../">cancel</button>
        <button mat-raised-button color="primary" (click)="submit()">
          save
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
