<div style="padding: 40px 100px 40px">
  <mat-card>
    <mat-card-title>Create</mat-card-title>
    <mat-card-content class="mt-20">
      <form [formGroup]="form">
        <mat-grid-list cols="12" rowHeight="60px">
          <mat-grid-tile colspan="4">
            <form-input
              [dense]="true"
              [label]="$t('roles.fields.name')"
              [control]="form.controls.name"
              [error]="errors.name"
            >
            </form-input>
          </mat-grid-tile>
          <mat-grid-tile colspan="4">
            <form-input
                    [dense]="true"
              [label]="$t('roles.fields.alias')"
              [control]="form.controls.alias"
              [error]="errors.alias"
            >
            </form-input>
          </mat-grid-tile>
          <mat-grid-tile colspan="4">
            <form-input
                    [dense]="true"
              label="Guard"
              [control]="form.controls.guard"
              [error]="errors.guard"
            >
            </form-input>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="d-flex align-center justify-end full-width pb-20">
        <button mat-button routerLink="../">cancel</button>
        <button mat-raised-button color="primary" (click)="submit()">
          save
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
