<div class="container">
  <div class="card full-width" style="max-width: 900px">
    <div class="card__header">
      <div
        class="card__header--title ml-10"
        text="text"
        translate="categories.headers.edit"
      >
        Edit
      </div>
    </div>
    <div class="card__content mt-10">
      <form [formGroup]="form" class="form">
        <form-input
          cols="12"
          (keyup.enter)="submit()"
          class="form__item"
          [label]="t('fields.name_ro')"
          [control]="form.controls.name_ro"
          [error]="errors.name_ro"
        ></form-input>
        <form-input
          cols="12"
          (keyup.enter)="submit()"
          class="form__item"
          [label]="t('fields.name_en')"
          [control]="form.controls.name_en"
          [error]="errors.name_en"
        ></form-input>
        <form-input
          cols="12"
          (keyup.enter)="submit()"
          class="form__item"
          [label]="t('fields.name_ru')"
          [control]="form.controls.name_ru"
          [error]="errors.name_ru"
        ></form-input>
        <app-file-uploader
          (keyup.enter)="submit()"
          cols="12"
          class="form__item"
          [label]="t('fields.image')"
          [control]="form.controls.image"
          [error]="errors.image"
        ></app-file-uploader>
        <app-checkbox
          cols="12"
          class="form__item"
          [label]="t('fields.is_active')"
          [control]="form.controls.is_active"
          [error]="errors.is_active"
        ></app-checkbox>
      </form>
    </div>
    <div class="card__footer">
      <div>
        <button
          class="card__footer--btn card__footer--cancel"
          routerLink="../../"
          translate="global_buttons.cancel"
          text="text"
        >
          cancel
        </button>
        <button
          class="card__footer--btn card__footer--submit"
          (click)="submit()"
          translate="global_buttons.save"
        >
          submit
        </button>
      </div>
    </div>
  </div>
</div>
