<div class="d-flex align-center" [matMenuTriggerFor]="menu">
  <img
    width="30px"
    [src]="activeLanguage.icon"
    class="cursor-pointer"
    [alt]="activeLanguage.text"
    (click)="toggle()"
  />
  <span class="material-icons">arrow_drop_down</span>
</div>
<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    *ngFor="let item of items"
    (click)="changeLanguage(item)"
  >
    <mat-label class="d-flex align-center">
      <img width="30px" [src]="item.icon" alt="" />
      <span class="ml-5">{{ item.text }}</span>
    </mat-label>
  </button>
</mat-menu>
